# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
- List of commonly used libraries
+ Arithmetic Expressions in Python
* IDEs used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python

2. SQL

3. R-Langyage
 
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy

2. Pandas

3. Tensorlow

4. Keras

|Data Science Tools |
| :--               |
|JupyterLab Notebook|
|IBM Watson Studio  |
|Google Colab       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Syed Sumair Hassan